{{- if ne .Values.transport "stdio" }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "mcp-atlassian.fullname" . }}
  labels:
    {{- include "mcp-atlassian.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "mcp-atlassian.selectorLabels" . | nindent 4 }}
{{- end }}
